[submodule "vim/.vim/bundle/carbonized"]
	path = vim/.vim/bundle/carbonized
	url = https://github.com/nightsense/carbonized
[submodule "vim/.vim/bundle/molokai"]
	path = vim/.vim/bundle/molokai
	url = git://github.com/tomasr/molokai
[submodule "vim/.vim/bundle/solarized"]
	path = vim/.vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/.vim/bundle/hydrangea"]
	path = vim/.vim/bundle/hydrangea
	url = https://github.com/yuttie/hydrangea-vim.git
[submodule "vim/.vim/bundle/neuromancer"]
	path = vim/.vim/bundle/neuromancer
	url = https://github.com/Zabanaa/neuromancer.vim.git
[submodule "vim/.vim/bundle/dream"]
	path = vim/.vim/bundle/dream
	url = https://github.com/crusoexia/vim-dream.git
[submodule "vim/.vim/bundle/gruvbox"]
	path = vim/.vim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "vim/.vim/bundle/surround"]
	path = vim/.vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/.vim/bundle/wal"]
	path = vim/.vim/bundle/wal
	url = https://github.com/dylanaraps/wal
[submodule "vim/.vim/bundle/gundo"]
	path = vim/.vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim
[submodule "vim/.vim/bundle/ale"]
	path = vim/.vim/bundle/ale
	url = https://github.com/w0rp/ale
[submodule "vim/.vim/bundle/airline"]
	path = vim/.vim/bundle/airline
	url = https://github.com/vim-airline/vim-airline.git
